<!doctype html>
<html ng-app="plunker">
  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.js"></script>
    <script src="http://angular-ui.github.com/bootstrap/ui-bootstrap-tpls-0.2.0.js"></script>
    <script src="example.js"></script>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
  </head>
  <body>

<div ng-controller="AccordionDemoCtrl">
  <div style="padding-bottom:120px;">
    <img style="float: left;" src="https://s3-us-west-2.amazonaws.com/sampleappinfoblox/Roman.jpg"></img>
    <h5>Name: Roman Azami</h5>
    <h5>Goal: To become a Bloxer!</h5>
    <h5>A sample application to show that I am dedicated to become part of Infoblox.</h5>
  </div>
  <div>Click the items on the list to see how I exceed the requirements for the Software Engineer role.</div>
  <!--<button class="btn" ng-click="addNew()">add new</button>-->
  <accordion>
    <accordion-group ng-repeat="group in groups" heading="{{group.title}}" is-open="group.open">
      {{group.content}}
    </accordion-group>    
  </accordion>
  <!--<button class="btn" ng-click="groups[0].open = !groups[0].open">Toggle first open</button>-->
  <!--<button class="btn" ng-click="groups[1].open = !groups[1].open">Toggle second open</button>-->
</div>
  </body>
</html>
